@{
    Layout = "_PageLayout";
}

<section class="section">
    <div class="container content">
        <h1>Contact</h1>
        <p>
            For any questions, comments, or issues, feel free to submit a new issue on <a href="https://github.com/MrSmoke/TeaTime" alt="GitHub">GitHub</a>.
            If you don't have a GitHub account, support can be reached at <a href="mailto:@Program.ContactEmail">@Program.ContactEmail</a>.
        </p>
    </div>
</section>
