<section class="section has-text-centered">
    <div class="container">
        <div class="level">
            <div class="level-item">
                <figure class="image is-64x64">
                    <img src="images/firetruck.png"/>
                </figure>
            </div>
        </div>

        <h1 class="title is-1">Tea Time</h1>
        <h2 class="subtitle">Who's putting the kettle on?</h2>

        <a class="github-button" href="https://github.com/MrSmoke/TeaTime" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star MrSmoke/TeaTime on GitHub">Star</a>
        <a class="github-button" href="https://github.com/MrSmoke/TeaTime/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue MrSmoke/TeaTime on GitHub">Issue</a>
    </div>
</section>

<partial name="_SlackButton" />

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>