@{
    Layout = "_PageLayout";
}

<section class="section">
    <div class="container content">
        <h1>Privacy Policy</h1>
        <b>Effective: 2 June 2024</b>

        <article class="media">
            <div class="media-content">
                <p>Your privacy is important to us. Tea Time only stores information which is necessary for it to function</p>
                <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
                <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
                <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
                <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
            </div>
        </article>

        <article class="media">
            <div class="media-content">
                <h2>Cookies</h2>
                <p>Tea Time does not store any cookies.</p>
            </div>
        </article>

        <article class="media">
            <div class="media-content">
                <h2>What we store</h2>
                <ul>
                    <li>Your Slack team access token: This data is stored as part of the "Add to Slack" installation process.</li>
                    <li>Your Slack team and channel name: This data is used to build the message of the notification.</li>
                    <li>Your Slack team members display name: This data is used to build the message of the notification.</li>
                </ul>
            </div>
        </article>

        <article class="media">
            <div class="media-content">
                <h2>Data retention</h2>
                <p>
                    Data removal can be requested by <a asp-action="Contact">contacting us</a> at <a href="mailto:@Program.ContactEmail">@Program.ContactEmail</a>.
                    Please include your Slack workspace name in the request.
                </p>
            </div>
        </article>
    </div>
</section>
