body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-content
{
    flex: 1 0 auto;
}

.footer
{
    flex-shrink: 0;
}

/*
 Set bulma variables
 */
.footer
{
    --bulma-footer-padding: 1.5rem;
}

.navbar.is-transparent
{
    --bulma-navbar-background-color: transparent;
}
