<h4 class="title is-5">Usage</h4>
<p>To start a new round of tea <code>/teatime tea</code></p>
<p>To end a new round of tea <code>/teatime end</code></p>
<p>When in doubt, a list of commands can be found by typing <code>/teatime help</code></p>
<p>For more help, visit <a target="_blank" href="https://github.com/MrSmoke/TeaTime">GitHub</a></p>