@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="columns">
    <div class="column">
        <partial name="_SlackButton" />
    </div>
</div>
<div class="columns">
    <div class="column">
        <partial name="_SlackHelp" />
    </div>
</div>