<div>
<a class="github-button" href="https://github.com/MrSmoke/TeaTime" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star MrSmoke/TeaTime on GitHub">Star</a>
<a class="github-button" href="https://github.com/MrSmoke/TeaTime/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue MrSmoke/TeaTime on GitHub">Issue</a>
</div>