<section class="section has-text-centered">
    <div class="container">
        <div class="level">
            <div class="level-item">
                <a href="/" alt="Tea Time">
                    <figure class="image is-64x64">
                        <img src="images/firetruck.png" alt="TeaTime Logo" />
                    </figure>
                </a>
            </div>
        </div>

        <h1 class="title is-1">Tea Time</h1>
        <h2 class="subtitle">Who's putting the kettle on?</h2>

        <partial name="_GitHubIcons" />
    </div>
</section>
