@{
    var pageTitle = "TeaTime";
    var viewDataTitle = ViewData["Title"] as string;

    if (!string.IsNullOrWhiteSpace(viewDataTitle))
    {
        pageTitle = viewDataTitle + " - " + pageTitle;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@pageTitle</title>
    <link rel="icon" type="image/png" href="/images/firetruck.png" />

    <environment include="Development">
        <link rel="stylesheet" href="~/libs/bulma/bulma.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
              crossorigin="anonymous"
              integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" />
    </environment>
</head>
<body>

@RenderBody()

@RenderSection("Scripts", required: false)
</body>
</html>