@{
    var pageTitle = "TeaTime";
    var viewDataTitle = ViewData["Title"] as string;

    if (!string.IsNullOrWhiteSpace(viewDataTitle))
    {
        pageTitle = viewDataTitle + " - " + pageTitle;
    }
}

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@pageTitle</title>
    <link rel="icon" type="image/png" href="/images/firetruck.png" />

    <environment include="Development">
        <link rel="stylesheet" href="~/libs/bulma/1.0.1/bulma.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="~/libs/bulma/1.0.1/bulma.min.css"
              integrity="sha512-dF4b2QV/0kq+qlwefqCyb+edbWZ63ihXhE4A2Pju3u4QyaeFzMChqincJsKYwghbclpLE92jPb9yaz/LQ8aNlg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
    </environment>

    <link rel="stylesheet" asp-append-version="true" href="/styles/teatime.css">
</head>
<body>
<div class="site-content">
    @RenderBody()
</div>

<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
                    <a class="navbar-item" href="/">Home</a>
                    <a class="navbar-item" href="/privacy">Privacy</a>
                    <a class="navbar-item" href="/contact">Contact</a>
                    <a class="navbar-item" href="https://github.com/MrSmoke/TeaTime">GitHub</a>
                </nav>
            </div>
            <div class="level-right has-text-right">
                <p class="has-text-grey-light">v@(Program.Version)</p>
            </div>
        </div>
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
